<div class="container">

  <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('background_food.jpg')%>');">
    <div class="banner-content">
      <h1>Welcome to Mister Cocktail</h1>
      <p>Discover the best cocktails in the world!</p>
      <%= link_to "Create your cocktail", new_cocktail_path, class: "btn btn-success btn-lg"%>
    </div>
  </div>

<h1 class="text-center">Choose your favorite cocktail</h1>

  <div class="row">

    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card">

      <p><%= cocktail.name %></p>
      <%= cl_image_tag cocktail.photo, height: 200, width: 300, crop: :fill %>
      <%= link_to "See details", cocktail_path(cocktail), class: "btn btn-primary"%>

      </div>
    <% end %>

  </div>
</div>
